* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono, FontAwesome, sans-serif;
    font-size: 14px;
}
window {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 2px transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: 10px rgba(43, 48, 59, 0.2);
    border-radius: 0px;
}

#workspaces {
    margin: 0px 10px;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 0px;
}

#workspaces button:hover {
    background: transparent;
    border-radius: 0px;
}

#workspaces button.active {
    background-color: transparent;
    box-shadow: transparent;
    color: #33ccff;
}

#workspaces button.urgent {
    background-color: transparent;
    color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
    background-color: rgba(43, 48, 59, 0.2);
    border-radius: 10px 0px 0px 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 00px;
    background-color: rgba(43, 48, 59, 0.2);
}

#clock {
    background-color: rgba(43, 48, 59, 0.2);
    border-radius: 0px;
    color: #ffffff;
    min-width: 70px;
}

#battery {
    background-color: rgba(43,48,59, 0.2);
    color: #ffffff;
    border-radius: 0px;
    min-width: 60px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(43, 48, 59, 0.2);
    border-radius: 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
}

#cpu {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    border-radius: 0px;
    min-width: 50px;
}

#memory {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    border-radius: 0px;
    min-width: 50px;
}

#disk {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    border-radius: 0px;
    min-width: 50px;
}

#backlight {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    border-radius: 0px;
    min-width: 70px;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
}

#pulseaudio {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    min-width: 80px;
    padding: 0 10px;
}

#pulseaudio.muted {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    border-radius: 10px 0px 0px 10px;
}

#wireplumber {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
}

#wireplumber.muted {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff
}

#temperature {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ffffff;
    border-radius: 0px;
    min-width: 70px;
}

#temperature.critical {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ff0000;
    border-radius: 0px;
}

#tray {
    background-color: rgba(43, 48, 59, 0.2);
    border-radius: 0px 0px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: rgba(43, 48, 59, 0.2);
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-power {
    background-color: rgba(43, 48, 59, 0.2);
    color: #ff0000;
    border-radius: 0px 10px 10px 0px;
    min-width: 40px;
}
