* {
  font-family: 'JetBrainMono', monospace;
  font-size: 12px;
}
window {
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(43, 48, 59, 0.8);
}

#input {
    margin: 5px;
    border-radius: 8px;
    border: none;
    border-bottom: 3px;
    background-color: #31363b;
    color: white;
}

#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: rgba(43, 48, 59, 0.8);
    border-radius: 8px;
}

#outer-box {
    margin: 5px;
    padding:5px;
    background-color: rgba(43, 48, 59, 0.8);
    border-radius: 8px;
}

#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
}

#text {
    padding: 2px;
    color: white;
}

#entry:nth-child(even){
    background-color: #31363b;
}

#entry:selected {
    border-radius: 8px;
    border: 0.11em solid;
    background-color: #3daee9;
}
